---
import { Image } from "astro:assets";
import heroImage from "../assets/hero.jpg";
import CommunityLogoAnimation from "./CommunityLogoAnimation";
// import CommunityLogoAnimation from "./CommunityLogoAnimation";
interface Props {
  heading?: string;
  body?: string;
  buttonText?: string;
  buttonLink?: string;
}

const { heading, body, buttonLink, buttonText } = Astro.props;
---

<section class="intro">
  <!-- <CommunityLogoAnimation client:load /> -->
  <Image
    src={heroImage}
    id="hero-image"
    alt="TCNJ Pavillion"
    width="1770"
    height="1050"
  />

  <div id="banner">
    <CommunityLogoAnimation client:load />
    <!-- <h2>{heading}</h2> -->
    <p>{body}</p>
    {
      buttonText && (
        <a class="button-link" href={buttonLink}>
          {buttonText}
        </a>
      )
    }
  </div>
</section>
